.settings
.checkstyle
.project
.idea
.vertx
images
models
mongoose.conf
mongoose-*.exe
/js/libs/ext
/ts/libs
/node_modules
/java/vertxweb/target
/java/vertxweb/.classpath
/java/vertxweb/src/main/resources
