.settings
.checkstyle
.project
.idea
.vertx
/js/lib/ext
/ts/lib
/node_modules
/java/vertxweb/target
/java/vertxweb/.classpath
/java/vertxweb/src/main/resources
/resource/fonts/UbuntuMono-Bold.ttf
/resource/fonts/UbuntuMono-BoldItalic.ttf
/resource/fonts/UbuntuMono-Italic.ttf
/resource/fonts/UbuntuMono-Regular.ttf
/resource/fonts/Ubuntu_Mono.zip
/resource/fonts/GoogleUbuntuMonoLatin.js
/resource/video
/resource/images
/resource/models
/resource/textures
/js/lib/threejs
