h1 {
    font-size: 32px;
    margin: 6px 0px 6px 0px;
    padding: 0px 0px 0px 0px;
}

h2 {
    font-size: 24px;
    margin: 3px 0px 3px 0px;
    padding: 0px 0px 0px 0px;
}

div.navMenu,
div.navMenuButton,
div.navHomeButton,
div.navHelpButton,
div.navHelpArea {
    position: absolute;
    right: 0px;
    width: 44px;
    height: 44px;
    margin: 2px 2px 2px 2px;
    border-radius: 6px;
    border: 3px solid red;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    cursor: pointer;
    right: 0px;
}
div.navHelpButton,
div.navMenuButton {
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: bolder;
}
div.navHomeButtonBars {
    border: 2px solid red;
    border-radius: 2px;
    margin: 8px 4px 0px 4px;
}
div.navHelpButton {
    top: 52px;
    color: blue;
    border: 3px solid blue;
}
div.navHelpText {
    padding: 3px 0px 0px 0px;
}

div.navMenu,
div.navHelpArea {
    top: 5%;
    right: 20%;
    bottom: 5%;
    left: 20%;
    width: 60%;
    height: 90%;
    min-width: 480px;
    min-height: 576px;
    border-radius: 12px;
    display: none;
}

div.navHelpArea {
    padding: 6px 6px 6px 6px;
    border: 3px solid blue;
    color: rgba(80, 255, 80, 0.9);
}

div.navHelpArea a {
    color: #00ccff;
    text-decoration: none;
}

div.navHelpArea a:visited {
    color: #0099cc;
    text-decoration: none;
}

div.navHelpArea a:hover {
    color: #00ccff;
    text-decoration: underline;
}

div.navMenuMain {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0px;
    padding: 4px 0px 0px 0px;
}

div.navMenuHeader {
    color: white;
}

div.navMenuLink {
    padding: 3px 3px 3px 3px;
    cursor: pointer;
}

div.navMenuLink a {
    color: #00ccff;
    text-decoration: none;
}

div.navMenuLink a:visited {
    color: #0099cc;
    text-decoration: none;
}

div.navMenuLink a:hover {
    color: #00ccff;
    text-decoration: underline;
}

div.navMenuHome {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
    padding: 0px 0px 4px 0px;
}
