* {
    font-family: Arial;
}

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
}

#master {
    margin: inherit;
    padding: inherit;

    width: 100%;
    height: 100vh;

    min-width: 1024px;
    min-height: 576px;

    position: relative;
}

#DivGL1,
#DivGL2,
#DivGL3,
#DivGL4 {
    width: 50%;
    height: 50%;
    position: absolute;
    min-width: 320px;
    min-height: 240px;
    overflow: hidden;
}
#DivGL1,
#DivGL2,
#DivGL3,
#DivGL4,
#DivGL1Canvas,
#DivGL2Canvas,
#DivGL3Canvas,
#DivGL4Canvas,
#DIVFeedbackAreaStatic,
#DIVFeedbackAreaDynamic {
    margin: inherit;
    padding: inherit;
}
#DivGL1Canvas,
#DivGL2Canvas,
#DivGL3Canvas,
#DivGL4Canvas {
    width: 100%;
    height: 100%;
}
#DivGLFull {
    position: absolute;
    min-width: 320px;
    min-height: 240px;
    overflow: hidden;
}
#DivGLFull,
#DivGLFullCanvas,
#DivGLFullCanvasLoad {
    margin: inherit;
    padding: inherit;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #222222;
}
#DivGL1 {
    background-color: #ff0000;
    top: 0px;
    left: 0px;
}
#DivGL1Canvas {
    background-color: #666666;
    top: 0px;
    left: 0px;
}
#DivGL2 {
    background-color: #0000ff;
    top: 0px;
    right: 0px;
}
#DivGL2Canvas {
    background-color: #666666;
    top: 0px;
    right: 0px;
}
#DivGL3 {
    background-color: #00ff00;
    bottom: 0px;
    left: 0px;
}
#DivGL3Canvas {
    background-color: #666666;
    bottom: 0px;
    left: 0px;
}
#DivGLFullVideo,
#DivGLFullVideoBuffer,
#DivGL3Video,
#DivGL3VideoBuffer {
    background-color: #FFFFFF;
    display: none;
    width: 1920px;
    height: 1080px;
}
#DivGL4 {
    background-color: #fff600;
    bottom: 0px;
    right: 0px;
}
#DivGL4Canvas {
    background-color: #666666;
    bottom: 0px;
    right: 0px;
}

#DIVFeedbackAreaDynamic {
    position: absolute;
    bottom: 28px;
    width: 100%;
    z-index: 1;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.0);
	color: rgba(40, 200, 40, 1.0);
	padding: 0px;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#DivVideoBg {
    background-color: #000000;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#DivNotSupported {
    position: absolute;
    color: rgba(80, 255, 80, 0.8);
    width: 50%;
    right: 25%;
    left: 25%;
    text-align: center;
    margin-top: 100px;
    border: 2px red solid;
    padding: 10px;
    z-index: 1000;
}
