#DivGLCanvasFixed {
    margin: inherit;
    padding: inherit;
    width: 3712px;
    height: 3712px;
    top: 0px;
    left: 0px;
    background-color: #000000;
}

#DivGLFull {
    overflow: auto;
    background-color: #000000;
}

#stats {
    position: absolute;
    left: 450px;
    top: 0px;
    z-index: 1000;
}
