
#LinkPixelProtest {
    position: absolute;
    right: 12%;
    top: 12%;
    width: 24%;
    height: 12%;
    color: white;
    z-index: 1000;
}

#LinkPTV1Loader {
    position: absolute;
    right: 12%;
    bottom: 12%;
    width: 24%;
    height: 12%;
    color: white;
    z-index: 1000;
}
