#ProjectsHeader {
    color: white;
}

#DivGLFullVideo,
#DivGLFullVideoBuffer {
    background-color: #FFFFFF;
    display: none;
    width: 1920px;
    height: 804px;
}

#DivGLFullCanvasLoad {
    z-index: 1000;
    position: absolute;
//    display: none;
}


#DIVFeedbackAreaDynamic {
    font-size: 20px;
}
