#AppRoot {

}

#AppTextIndex,
#AppThreejsFooter  {
    text-align: left;
    font-family: Tahoma;
    font-size: 12px;
    padding-top: 2px;
    padding-left: 5px;
    z-index: 1;
}

body,
#AppWebGL {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	left: 0px;
	top: 0px;
    background-color: black;
    z-index: 1;
}

#AppFloat {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    top: 0px;
    z-index: 2;
    background-color: black;
}

#AppTextIndex,
#AppThreejsFooter {
    color: #bbbbbb;
}

/* General Hyperlink Colors */
a {
    color: #00ccff;
    text-decoration: none;
}

a:visited {
    color: #0099cc;
    text-decoration: none;
}

a:hover {
    color: #00ccff;
    text-decoration: underline;
}