* {
    font-family: Arial;
}

a:link,
a:visited,
a:hover,
a:active {
	color: rgb(160, 80, 80);
}

body {
	background-color: black;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
}

div {
	background-color: black;
	color:white;
	padding: 0px;
	margin: 0px;
}

#kaiWebGL {
	background-color: black;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#index_headline {
	padding-top: 12px;
	padding-left: 6px;
	background-color: black;
}

#index_content {
	padding-top: 12px;
	padding-left: 12px;
    padding-bottom: 12px;
	background-color: black;
}
