#ksaBodyIndex {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	left: 0px;
	top: 0px;
    background-color: black;
}

#ksaTextIndex {
	font-family: Tahoma;
	font-weight: bold;
	font-size: 100px;	
}
