h1 {
    font-size: 32px;
    margin: 6px 0px 6px 0px;
    padding: 0px 0px 0px 0px;
}

h2 {
    font-size: 24px;
    margin: 3px 0px 3px 0px;
    padding: 0px 0px 0px 0px;
}

.navMenuButton,
.navHomeButton,
.navContact {
    position: absolute;
    width: 64px;
    height: 44px;
    margin: 2px 2px 2px 2px;
    border-radius: 6px;
    border: 3px solid;
    color: firebrick;
    cursor: pointer;
}
.navHomeButton {
    right: 0px;
}
.navHomeButtonBars {
    border: 2px solid;
    margin: 8px 4px 0px 4px;
}
.navContact {
    top: 52px;
    color: blue;
}

.navMenu {
    position: absolute;
    left: 20%;
    top: 5%;
    width: 60%;
    height: 90%;
    min-width: 480px;
    min-height: 576px;
    border-radius: 12px;
    border: 3px solid;
    color: firebrick;
    display: none;
    text-align: center;
    background-color: black;
    opacity: 0.9;
}

.navContactButton {
    position: absolute;
    margin: 4px 2px 4px 2px;
    width: 32px;
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: blue;
}
.navContactArea {
    display: none;
    position: absolute;
    top: 25%;
    right: 64px;
    padding: 6px 6px 6px 6px;
    border: solid blue;
    color: rgba(80, 255, 80, 0.9);
    background-color: black;
    opacity: 0.9;
}

.navContactArea a {
    color: #00ccff;
    text-decoration: none;
}

.navContactArea a:visited {
    color: #0099cc;
    text-decoration: none;
}

.navContactArea a:hover {
    color: #00ccff;
    text-decoration: underline;
}

div.navMenuMain {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0px;
    padding: 4px 0px 0px 0px;
}

div.navHeader {
    color: white;
}

div.navLink {
    padding: 3px 3px 3px 3px;
    cursor: pointer;
}

div.navLink a {
    color: #00ccff;
    text-decoration: none;
}

div.navLink a:visited {
    color: #0099cc;
    text-decoration: none;
}

div.navLink a:hover {
    color: #00ccff;
    text-decoration: underline;
}

div.navMenuHome {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
    padding: 0px 0px 4px 0px;
}
