div.helpArea {
    width: 640px;
    height: 192px;
    top: 55px;
}

span.helpButton {
    color: red;
    background-color: black;
}

div.feedback {
    color: #FFFFFF;
    height: 32px;
}