* {
    font-family: Arial;
}

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#master {
    margin: inherit;
    padding: inherit;

    width: 100%;
    height: 100vh;

    min-width: 1024px;
    min-height: 576px;

    position: relative;
}