* {
    font-family: Arial;
}

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
}

#master {
    margin: inherit;
    padding: inherit;

    width: 100%;
    height: 100vh;

    min-width: 1024px;
    min-height: 576px;

    position: relative;
}

#DivGLFull {
    position: absolute;
    min-width: 320px;
    min-height: 240px;
    overflow: hidden;
}
#DivGLFull,
#DivGLFullCanvas {
    margin: inherit;
    padding: inherit;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #222222;
}
#DivGLFullVideo,
#DivGLFullVideoBuffer {
    background-color: #FFFFFF;
    display: none;
    width: 1920px;
    height: 1080px;
}


div.navFeedbackArea {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0px;
    z-index: 10;
    text-align: center;
    font-size: 18px;
}

div.navDynamicFeedbackArea,
div.navCopyrightArea {
    padding: 2px 0px 2px 0px;
    min-height: 18px;
}

div.navDynamicFeedbackArea {
    color: darkorange;
    background-color: rgba(255, 255, 255, 0.0);
    bottom: 25px;
}

div.navCopyrightArea {
    color: #AAAAAA;
    bottom: 0px;
}

div.navCopyrightArea a {
    color: #00ccff;
    text-decoration: none;
}

div.navCopyrightArea a:visited {
    color: #0099cc;
    text-decoration: none;
}

div.navCopyrightArea a:hover {
    color: #00ccff;
    text-decoration: underline;
}

span.tab {
    padding: 0px 20px 0px 20px;
}

#DivNotSupported {
    position: absolute;
    color: rgba(80, 255, 80, 0.8);
    width: 50%;
    right: 25%;
    left: 25%;
    text-align: center;
    margin-top: 100px;
    border: 2px red solid;
    padding: 10px;
}

#Loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0px;
    z-index: 30;
    color: rgba(225, 225, 225, 0.8);
    font-size: 100px;
    text-align: center;
    display: block;
    top: 50%;
    line-height: 0;
}